<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="inchoriya" />
    <meta name="description" content="KAKAO MAP API" />
    <title>KAKAO MAP API</title>
</head>

<body>
    <a href="kmap1">kmap1로 이동</a><br/>
    <a href="kmap2">kmap2로 이동</a><br/>
    <a href="kmap3">kmap3로 이동</a><br/>
</body>
</html>